textures/*.png filter=lfs diff=lfs merge=lfs -text
textures/WoodFloor048_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
textures/WoodFloor050_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
textures/WoodFloor012_8K-PNG_Color.png filter=lfs diff=lfs merge=lfs -text
